<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <title>登入成功</title>
</head>
<body>
  <div class="banner">
    <div>歡迎光臨，這是會員頁</div>
  </div>

  <div class="member-content">
    {{ name }}！歡迎登入系統！
  </div>
  <div class="logout-btn">
    <a href="/signout">登出</a>
  </div>

  <hr/>
  <div class="send-message">
    <div class="send-message-title">快來留言吧</div>
    <form action="/message" method="POST">
      <div>內容 <input type="text" name="message"></div>
      <div><input type="submit" value="送出" id="message-submit"></div>
    </form>
  </div>
  <hr/>
  <div class="messages">
    <div class="message-box-title">留言板</div>
    <div class="message-box">
      {% for name, content in messages %}
      <div><span class="message-author">{{ name }}</span>：{{ content }}</div>
      {% endfor %}
    </div>
  </div>

</body>
</html>