* {
  font-size: 20px;
  margin: 0;
  padding: 0;
}


/* navbar */
.nav {
  display: flex;
  padding: 10px;
}

.nav-left {
  font-weight: bold;
}

.nav-right {
  display: flex;
  margin-left: auto;
}

.item {
  padding: 0 0 0 15px;
}

/* horizontal line */
.mobile-menu {
  display: none;
}

/* banner */
.banner {
  background-color: rgba(226, 226, 226, 0.836);
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}


/* photos */

.content {
  width: 1160px;
  margin: auto;
}

/* promotion-box */
.promotion-box {
  display: flex;
  justify-content: center;
}

.promotion {
  display: flex;
  align-items: center;
  width:590px;
  height: 50px;
  margin:10px;
  background-color: rgba(226, 226, 226, 0.836);
}

.promotion > img {
  width: 80px;
  height: 50px;
  object-fit: cover;
}

.promotion > div { 
  margin: 10px;
}

/* title-item-box */
.title-item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-item {
  background-color: rgba(226, 226, 226, 0.836);
  padding: 0;
  margin: 10px;
  width: 270px;
  height: 290px;
}

.title-item > img {
  background-color: rgba(226, 226, 226, 0.836);
  width: 270px;
  height: 210px;
  object-fit: cover;
}

.title-item > div {
  padding: 10px;
}


/* RWD */
@media (max-width:1200px) {

  .content {
    width: 100%;
  }

  .promotion {
    width: 45%;
  }

  .title-item {
    width: 45%;
  }

  .title-item>img {
    width: 100%;
  }
}

@media (min-width:361px) and (max-width:600px) {
  .content {
    width: 90%;
  }

  .banner {
    font-size: 30px;
  }
  
  .promotion-box {
    display: flex;
    flex-wrap: wrap;
  }
  .promotion {
    width: 100%;
    margin: 10px 0px;
  }

  .title-item {
    width: 100%;
    margin: 10px 0px;
  }

  .title-item > img {
    width: 100%;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }

  .mobile-menu > img {
    height: 20px;
    width: auto;
  }
}

/* Button */

.btn-div{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.load-more-btn {
  border: rgb(208, 208, 208) solid 1px;
  background-color: rgb(231, 230, 230); 
  border-radius: 5px;
  padding: 15px;
  font-family: 'Times New Roman';
}

.load-more-btn:hover{
  background-color: rgb(198, 198, 198);
}