<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <title>Week-4</title>
</head>
<body>
  <div class="banner">
    <div>歡迎光臨，請輸入帳號密碼</div>
  </div>
  <div class="login-system">
    <form action="/signin" method="POST">
      <div class="login-title">登入系統</div>
      <div>帳號 <input type="text" name="account-name"></div>
      <div>密碼 <input type="password" name="password"></div>
      <div class="login-btn"><button>登入</button></div>
    </form>
  </div>
  <hr/>
  <div class="calculate-div">
    <div>正整數 <input type="text" name="number" id="number"></div>
    <div class="calculate-btn"><button>計算</button></div>
  </div>

  <script>
    let number = document.querySelector("#number").value
    let btn = document.querySelector(".calculate-btn")
    btn.addEventListener("click", ()=>{
      let number = document.querySelector("#number").value
      window.location = "/square/" + number
    })
  </script>
  
</body>
</html>